<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConsoleDeleteFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConsoleDeleteFile.Properties.Settings>
            <setting name="DeletePatterns" serializeAs="String">
                <value>{"DeleteModels":[{"Path": "D:\\TestFile\\publish", "IsRecursive": true,  "DeleteFilePatern":"*.txt", "KeepTimeSpan": "3.0:0:0"},{"Path": "D:\\TestFile\\NotRecursive", "IsRecursive": false,  "DeleteFilePatern":"*.pubxml", "KeepTimeSpan": "3.0:0:0"} ]}</value>
            </setting>
        </ConsoleDeleteFile.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
